.daoPanel {
    background-color: white;
    border-radius: 16px;
    padding: 10px 120px;
    row-gap: 1.5rem;
    position: relative;
}

.daoPanel::before {
    content: url("../../public/images/Color Shape  2.png");
    position: absolute;
    display: inline-block;
    left: -120px;
    top: 158px;
    transform: rotate(10deg);
    
}

.daoAvatar {
    background: #D6FFE9;
    border-radius: 50%;
    padding: 20px 30px;
}

.daoBottomAvatar {
    background: #FFF4FF;
    border-radius: 50%;
    padding: 10px 10px;
}

.textHeader {
    font-size: 20px;
    font-family: "Cy Grotesk Grand Dark";
    color: #3D3D3D;
    font-weight: 800;
}

.pinkButton {
    background-color: #FB40FF;
    border-radius: 30px;
    padding: 3px 15px;
    color: white;
    display: flex;
    align-items: center;

    p {
        padding-left: 15px;
    }
}

.description {
    font-size: 16px;
    color: #3D3D3D;
    font-weight: 400;
    padding: 20px 0;
}

.detail {
    color: #3D3D3D;
    ;
}

.joinForm {
    display: flex;
    padding: 100px 50px 300px 50px;
    display: inline;
}

.label {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 700;
    text-align: end;
    padding-right: 100px;
}

/* Small (sm) */
@media (min-width: 640px) {
    /* ... */
}

/* Medium (md) */
@media (min-width: 768px) {
    /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
    /* ... */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* ... */
}

.bottomSection {
    border-top: 1px solid #D9D9D9;
    padding: 50px 0;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    div {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #3D3D3D;
    }
}

.textAttention {
    font-family: 'Cy Grotesk Grand Dark';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.attentionSection {
    position: relative;
}

.attentionSection::after {
    content: url("../../public/images/Color Shape 1.png");
    position: absolute;
    display: inline-block;
    right: 150px;
    bottom: 58px;
}