.text {
    font-family: 'Cy Grotesk Grand Dark';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    // margin-left: -200px;
    margin-top: 150px;
    position: relative;
}

.text:before {
    content: url("../../public/images/error.png");
    position: absolute;
    right: 0;
    z-index: -100;
}