.text {
    font-family: 'Cy Grotesk Grand Dark';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    // margin-left: -200px;
}

.success-section {
    display: flex;
}